<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m4coding.mallmbg.mbg.mapper.OmsCartItemMapper">
  <resultMap id="BaseResultMap" type="com.m4coding.mallmbg.mbg.model.OmsCartItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_date" jdbcType="INTEGER" property="createDate" />
    <result column="modify_date" jdbcType="INTEGER" property="modifyDate" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="item_status" jdbcType="INTEGER" property="itemStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_sku_id, user_id, quantity, price, create_date, modify_date, delete_status, 
    brand_id, category_id, item_status
  </sql>
  <select id="selectByExample" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_cart_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_cart_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oms_cart_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItemExample">
    delete from oms_cart_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_cart_item (product_sku_id, user_id, quantity, 
      price, create_date, modify_date, 
      delete_status, brand_id, category_id, 
      item_status)
    values (#{productSkuId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{quantity,jdbcType=BIGINT}, 
      #{price,jdbcType=DECIMAL}, #{createDate,jdbcType=INTEGER}, #{modifyDate,jdbcType=INTEGER}, 
      #{deleteStatus,jdbcType=INTEGER}, #{brandId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{itemStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productSkuId != null">
        product_sku_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productSkuId != null">
        #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItemExample" resultType="java.lang.Long">
    select count(*) from oms_cart_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_cart_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productSkuId != null">
        product_sku_id = #{record.productSkuId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=BIGINT},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=INTEGER},
      </if>
      <if test="record.modifyDate != null">
        modify_date = #{record.modifyDate,jdbcType=INTEGER},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemStatus != null">
        item_status = #{record.itemStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_cart_item
    set id = #{record.id,jdbcType=INTEGER},
      product_sku_id = #{record.productSkuId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      quantity = #{record.quantity,jdbcType=BIGINT},
      price = #{record.price,jdbcType=DECIMAL},
      create_date = #{record.createDate,jdbcType=INTEGER},
      modify_date = #{record.modifyDate,jdbcType=INTEGER},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=VARCHAR},
      item_status = #{record.itemStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItem">
    update oms_cart_item
    <set>
      <if test="productSkuId != null">
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.m4coding.mallmbg.mbg.model.OmsCartItem">
    update oms_cart_item
    set product_sku_id = #{productSkuId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      create_date = #{createDate,jdbcType=INTEGER},
      modify_date = #{modifyDate,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      item_status = #{itemStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>